

.chart-container {
    height: 500px;
    width: 60%;
    float: left;
    padding: 5px;
    text-align: center;
    
  }

  .wallet {
    width: 30%;
    float: left;
    text-align: center;
    padding: 20px;
    margin: 20px;
  }

  