

.chart-container {
    height: 500px;
    width: 60%;
    float: left;
    padding: 30px;
    text-align: center;
    margin-top: 20px;
  }

  .wallet {
    width: 25%;
    float: left;
    padding: 30px;
    margin: 20px;
  }