.homepage {
    background-image: url('../../images/bg.jpg');
    height: 580px;
    width: 100%;
    background-size: cover;
}

.homepage img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}