body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: rgb(18, 1, 27) !important;
  color:rgb(250, 250, 250) !important;
}

body::after {
  content: "";
  background: url('./images/bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
  
}